/* this will contain most of the color/font management on the item */
.nav-pills>li.active.indigo>a, .nav-pills>li.active.indigo>a:focus, .nav-pills>li.active.indigo>a:hover {
	background-color: #3F51B5; /* google 500 indigo */
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	color: black;
	background-color: #E8EAF6; /* google 50 indigo */
	border-color: #E8EAF6;
}

.list-group-header .list-group-header-item{
	background-color: #3F51B5; /* google 500 indigo */
}

.btn-primary.indigo.focus, .btn-primary.indigo:hover, .btn-primary.indigo:active, .btn-primary.indigo:focus, .btn-primary.active.indigo {
	background-color: #3F51B5; /* google 500 indigo */
  	border-color: #204d74;
}

.indigo:hover{
	background-color: #E8EAF6; /* google 50 indigo */
  	border-color: #204d74;
}


.nav-pills>li.music-section-header>a, .nav-pills>li.music-section-header>a:focus, .nav-pills>li.music-section-header>a:hover {
	background-color: rgba(16, 16, 16, 1);  /* google 500 music-section-header */
	color: rgb(157, 157, 157);
	border-radius: 4px;
}

.nav-pills>li.music-section-header>a:hover {
	background-color: rgba(16, 16, 16, 1);  /* google 500 music-section-header */
	color: white;
	border-radius: 4px;
}

.list-group-item.music-section-header, .list-group-item.music-section-header:focus, .list-group-item.music-section-header:hover {
	color: black;
	background-color: rgba(16, 16, 16, 1);  /* google 50 music-section-header */
	border-color: rgba(16, 16, 16, 1); 
	border-radius: 4px;
}


.btn-primary.music-section-header.focus, .btn-primary.music-section-header:hover, .btn-primary.music-section-header:active, .btn-primary.music-section-header:focus, .btn-primary.active.music-section-header {
	background-color: rgba(16, 16, 16, 1);  /* google 500 music-section-header */
  	border-color: rgba(16, 16, 16, 1); 
  	border-radius: 4px;
}

.music-section-header:hover{
	background-color: rgba(16, 16, 16, 1);  /* google 50 music-section-header */
  	border-color: rgba(16, 16, 16, 1); 
  	border-radius: 4px;
}

.btn-primary.focus, .btn-primary.music-section-header:hover, .btn-primary.music-section-header:active, .btn-primary.music-section-header:focus, .btn-primary.active.music-section-header {
	background-color: rgba(16, 16, 16, 1);  /* google 500 music-section-header */
  	border-color: rgba(16, 16, 16, 1); 

  	border-radius: 4px;
}