/* This is the css file for mixtape*/
.title{
	font-family: 'Vollkorn', serif;
}

body{
    min-height: 500px;
    height:100vh;
    padding-top: 160px;
    background-size:cover;
}

.music-section{
	background: rgba(223, 224, 223, 0.7);
	border-radius: 4px;
}

.music-section-header{
	padding-left: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right:5px;
	background-color: rgb(16, 16, 16);
	color: rgb(177, 177, 177);
	border-radius: 4px;
	font-weight: 610;
	font-size: 1.1em;
}

.music-section-header:hover{
	color:white;
	cursor: default;
}

.menu-header-dropdown{
	background-color: rgb(33,34,39);
	right: -42px;
	left:auto;
	padding-bottom: 0px;
	padding-top: 0px;

}

.menu-header-dropdown>li>a{
	color: rgb(177, 177, 177);
	padding-bottom: 12px;
	padding-top: 12px;
}

.menu-header-dropdown>li>a:hover{
	color: white;
	background-color: rgb(13,14,19);
	border-radius: 4px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: auto;
  right: 53px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(33,34,39);
  border-left: 7px solid transparent;
  border-bottom-color: rgba(33,34,39 0.2);
  content: '';
}

/*.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: auto;
  right: 53px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgb(33,34,39);
  border-left: 6px solid transparent;
  content: '';
}*/

/*.music-section-header > a > span{
	margin-right:5px; 
	padding-left: 7px; 
	padding-right: 7px;
}*/

.small_pill{
	width: 200px;
}

.modal-backdrop.in {
	opacity: 0;
}

.music_controls{
	width: auto;
	height: 150px;
	background-color: #B8B8B8;
	position: relative;
}

.menu-options-icon{
	float: right;
	padding: 5px;
}

.menu-options-icon:hover{
	cursor: pointer; cursor: hand;
}

.music-play-item-icon{
	margin-right: 5px;
	padding: 7px;
	color: rgb(157, 157, 157);
	visibility: hidden;
}

.edit-item-icon{
	float: right;
	color: rgb(157, 157, 157);
	visibility: hidden;
}

.music-play-item-icon:hover{
	color: black;
	cursor: pointer; cursor: hand;
}

.edit-item-icon:hover{
	color: black;
	cursor: pointer; cursor: hand;
}



#btnBookmark{
	border-radius: 2px;
	padding: 10px;
}

#inputStartTime{
	width: 125px;
	border-radius: 5px;
}

#inputEndTime{
	width: 125px;
	border-radius: 5px;
}




.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bookmark_background{
	position: absolute;
	height: 30px;
	top: 10px;
	left: 10px;
}



.bookmark_marker{
	width: 14px;
	height: 14px;
	z-index: 30; /*above track*/
}

#bookmark_marker_start{
	position: absolute;
	visibility: hidden;
	left:0px;
	top:35px;
}

#bookmark_marker_end{
	position: absolute;
	visibility: hidden;
	left:40px;
	top:35px;
}

#bookmark_time_start{
	position: absolute;
	left:-7px;
	top:45px;
}

#bookmark_time_end{
	position: absolute;
	left:33px;
	top:45px;
}

.list-group{
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}


.list-group-item > div{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.list-group-item {
	position: relative;
	border-left: 0px solid rgb(221, 221, 221);
	border-right: 0px solid rgb(221, 221, 221);
}
/*.list-group-item-heading{
	height: 28px;
	display: table-cell;
	vertical-align: middle;
}*/

.list-group-item:hover{
	background-color: #EEEEEE;
}


.list-group-header {
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	border-radius: 5px;
}

.list-group-header .list-group-header-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #337AB7;
	color: rgb(235, 235, 235);
	border-radius: 5px;
}

.active-menu-item-heading{
	font-size: 14px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}



.active-menu-item-text, .active-menu-item-text.active{
	padding-left: 32px;
	color: black !important;
	display:none;
}

/* fix the borders and the restate usage*/
@media (min-width: 100px){
	.container {
		width: 100%;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 7px;
	padding-left: 7px;
}

.col-md-2.left{
	padding-left: 0px;
}