/* This is the css file for mixtape*/
input.error{
    background-color:rgb(255, 231, 231) !important;
}

form label.error{
	float: right;
	color: red;
}

.preClip-item>.handle{
	float: left;
    color: rgb(157, 157, 157);
}

.preClip-item>.remove{
	float: right;
    color: rgb(157, 157, 157);
    visibility: hidden;
}

.preClip-item>.handle:hover{
	color: black;
	cursor: pointer; cursor: move;
}

.preClip-item>.remove:hover{
	color: black;
	cursor: pointer; cursor: select;
}

.preClip-item{
	cursor: default !important;
}