
#player-container{
    background: rgba(223, 224, 223, 0.9);
    position: fixed;
    margin-top: -127px;
    height: 121px;
    min-height: 100px;
    z-index: 8;
    width:100%;
}

#heb-container {
    position: absolute; 
    top: 45px; 
    right: 5px; 
    display: block;
    z-index: 33;
}

#heb-container > .glyphicon {
    top: -21px;
    left: 45px;
    color: gray;
}

#btnPlay{
    width: 50px;
    border-radius: 20px;
    margin-top:10px;
    
}

.time_passed{
    width: 50px;
    height: 45px;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 37%;
    top: 45px;
}

.time_length{
    width: 50px;
    height: 45px;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 59%;
    top: 45px;
}


.track_background{
    width: auto;
    padding-top: 10px;
    position: relative;
}

.track{
    width: 100%;
    height: 10px;
    background-color: #E8EAF6;  
    z-index: 4; /*Below progress bar*/
    position: absolute;
    top: 27px;
}

.progress_bar{
    width: 0px;
    height: 10px;
    background-color: #3F51B5;
    z-index: 5; /*above track*/
    position: absolute;
    top: 27px;
}

.progress_thumb{
    width: 15px;
    height: 15px;
    background-color: white;
    z-index: 5; /*above track*/
    position: absolute;
    left:0px;
    top:24px;
    border: 2px #3F51B5 solid;
    cursor: pointer;
}

#hover_time_id{
    font-size: 14px;
    position: absolute;
    top: 7px;
}



        
