/* This is the css file for mixtape*/
.title{
	font-family: 'Vollkorn', serif;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:6px !important; 
    padding-bottom:0 !important;
    height: 33px;
}
.navbar {min-height:28px !important;}

.navbar-center
{
    position: absolute;
    text-align: center;
    margin:auto;
  	height:100%;
  	float: none;

}
