<template name="menuClips">
  <div class='col-md-7'>
    <div id="clips" class="music-section">
      <ul class="nav nav-pills nav-stacked">
        <li class="music-section-header active" onclick="MixTape.editPlaylist();">
          <a href="#">
            <span class="glyphicon glyphicon-plus"></span>Tracks</a>
          </li>

          <div id='clipItems'>
            {{#each clip}}
              <li class="list-group-item clip {{activeClass}}" id={{_id}}>
                <div class="list-group-item-heading {{activeHeadingClass}}"><span class="glyphicon glyphicon-play music-item-play-icon" style="visibility: hidden;"></span>{{name}}</div>
                <p class="list-group-item-text active-menu-item-text" style="display:{{showMenu}};">{{notes}}</p>
              </li>
            {{/each}}
          </div>
        </ul>
      </div>
    </div>
  </template>