<template name="menuPlaylists">
  <div class='col-md-2 left'>

    <div id='playlists' class="music-section">
      <ul class="nav nav-pills nav-stacked">
        <li class="music-section-header" onClick="MixTape.newPlaylist();"><a href="#">
          <span class="glyphicon glyphicon-plus"></span>Playlists</a>
        </li>
        <div id='playlistItems'>
        {{#each playlist}}

          <li class="list-group-item playlist {{activeClass}}" id={{_id}}>
            <span class="glyphicon glyphicon-edit edit-item-icon" style="visibility:{{showEditIcon}};"></span>
            <div class="list-group-item-heading {{activeHeadingClass}}"><span class="glyphicon glyphicon-play music-play-item-icon" style="visibility: hidden;"></span>{{name}}</div>
            <p class="list-group-item-text active-menu-item-text" style="display:{{showMenu}};">{{notes}}</p>
          </li>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>

</template>