<template name="menuBookmarks">
  <div class='col-md-3'>
    <div id='bookmarks' class="music-section">
      <ul class="nav nav-pills nav-stacked">
        <li class="music-section-header" onClick="MixTape.focusBookmarkTextbox();"><a href="#">
          <span class="glyphicon glyphicon-plus"></span>Bookmarks</a>
        </li>
        <div id='bookmarkItems'>
            {{#each bookmark}}

            <li class="list-group-item bookmark {{activeClass}}" id={{_id}}>
              <div><span class="glyphicon glyphicon-play music-item-play-icon" style="visibility: hidden;"></span>{{name}}</div>
            </li>
            {{/each}}
          </div>
      </ul>
    </div>
  </div>
</template>