<template name="newPlaylist">
  <!-- NewPlaylist modal -->
  <div id="newPlaylistWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom:20px;">
          <button id="np-top-btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close" onClick='MixTape.clearPlaylistModal();'>
            <span aria-hidden="true">&times;</span>
          </button>
          <form id="add-playlist-form">
            <input name="name" type="text" class="form-control" id="recipient-playlist-name" placeholder="New Playlist Name" onclick="this.select()" required>
          </form>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
<!--             <div class="row"><h5 class="modal-title" id="np-name">Add music to this playlist</h5></div> -->
              <div class="row">
                <div class="col-md-6 panel panel-default" id="np-clipSource" role="tabpanel">
                  <div class="panel-body">
                      
                  <button id="show-add" type="button" class="btn btn-default" style="margin-bottom:10px;">Add music to this playlist</button>
                  <audio id="np-new-clip-audio">
                          <source src="" id="np-new-clip-source">
                  </audio>
                  {{#if waitForNewCLip}}
                    {{> spinner}}                          
                  {{/if}}     
  
                  {{#if addingNewClip}}
                    {{> addClipPanel}} 
                  {{/if}}

                    <form>
                      <div class="form-group">
                          <label for="playlist-notes">Playlist Notes:</label>
                          <textarea rows="5" id="np-playlist-notes" class="form-control" onClick='this.select()'></textarea>
                      </div>
                    </form>
                    <!-- Nav tabs -->
                    


                  </div>

                </div>
              <div class="col-md-1">
                <!--blank space-->
              </div>


              
              <div class="col-md-5 panel panel-default" id="np-addedClips" style="padding:0px;">
                <div class="panel-heading" width="100%">
                  <h3 class="panel-title">Added Clips</h3>
                </div>
                <!-- <div class="panel panel-default panel-body"> </div> -->
                <!-- List group -->
                <ul id="np-added-container" class="list-group" style="min-height:42px;">
                  <div id="addedPreClips">
                    {{#each preClip}}
                        <li class="list-group-item btn btn-default preClip-item" id={{_id}}><span class="handle glyphicon glyphicon-sort"></span>
                          {{name}}<span class="remove glyphicon glyphicon-remove"></span>
                        </li>
                    {{/each}} 
                  </div>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onClick='MixTape.clearPlaylistModal();'>Cancel</button>
          <input type="submit" class="btn btn-primary" value="Save" form="add-playlist-form"> 
        </div>
      </div>
    </div>
  </div>

</template>