<template name="player">
 <div id="player-container" class='container'>
 <div class='col-md-12' style="height:100%;">
    <div class="time_passed"></div>
	<audio src="" type="audio/mpeg" id="current-clip"></audio>
	<div id="heb-container">
		<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
		<input id="heb-switch" type="checkbox" data-size="mini" data-on-color="info">
	</div>
	<button id="btnPlay" type="button" class="btn btn-info btn-lg" style="display:block; margin: auto; margin-top: 10px;"><span class="editor-button glyphicon glyphicon-play" id="btnPlay_icon"></span></button>

	<div class="time_length"></div>
	<div class="track_background" id="track_background_id">
	<div class="track" id="track_id"></div>

	<div class="progress_bar" id="progress_bar_id"></div>
	<div class="progress_thumb" id="progress_thumb_id"></div>
	<div class="bookmark_marker" id="bookmark_marker_start"><span class="glyphicon glyphicon-triangle-top"></span></div>
	<div id="bookmark_time_start"></div>
	<div id="bookmark_time_end"></div>
	<div class="bookmark_marker" id="bookmark_marker_end"><span class="glyphicon glyphicon-triangle-top"></span></div>
	<div id="hover_time_id"></div>
    </div>

  </div>  
</div>

</template>